<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
  </head>
  <body
    style="margin: 0; font-family: Arial, sans-serif; background-color: #000000"
  >
    <nav
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 60px;
        background-color: #000000;
      "
    >
      <div style="display: flex; align-items: center; padding-left: 550px; padding-top: 10px;">
        <a href="/">
          <img
            src="https://i.pinimg.com/736x/21/04/30/210430b9d998070a397af5da7d96cc1c.jpg"
            alt="Logo"
            style="width: 60px; height: 60px; margin-right: 5px"
            
          />
        </a>
      </div>
      </nav>
      <main style="text-align: center; padding-top: 0px; height: 150vh;">
        <h1
          style="
            font-family: sans-serif;
            color: #fff;
            font-size: 70px;
            font-weight: bold;
            margin-bottom: 20px;
            text-shadow: 0 0 4px #ffffff;
            animation: shine 2s infinite;
          "
        >
          Undercover
        </h1>
        <p
          style="
            font-size: 30px;
            color: #fcfcfc;
            margin-bottom: 30px;
            font-family: sans-serif;
            margin-top: 0px;
            font-weight: bold;
            text-shadow: 0 0 3px #ffffff;
            animation: shine 2s infinite;
          "
        >
          Get your digital social life with us.
        </p>
        <p
          style="
            font-size: 18px;
            color: #555;
            margin-bottom: 30px;
            font-weight: bold;
          "
        >
          An all-in-one Social Media system to organize your digital social life,
        </p>
        <br />
        <p
          style="
            font-size: 18px;
            color: #555;
            margin-bottom: 30px;
            margin-top: -40px;
            font-weight: bold;
          "
        >
          and to colaborate with others.
        </p>
          <img
            src="https://i.pinimg.com/736x/0f/ae/b7/0faeb7a691ee736126e2eaeecb0cb405.jpg"
            alt="Product"
            style="
              max-width: 100%;
              width: 600px;
              border-radius: 10px;
              box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
              justify-content: center;
              padding-top: -20px;
            "
          />
  
        </div>
      </main>
  

    <footer
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        background-color: #000000;
        color: #555;
        font-size: 14px;
      "
    >
      <main>
        <div>
          <span
            style="
              font-family: sans-serif;
              font-weight: bold;
              font-size: 15px;
              padding-left: 950px;
              color: #fff;
            "
            >Links</span
          >
        </div>
        <div style="display: flex; align-items: center; padding-left: 50px">
          <span
            style="
              font-family: Arial, Helvetica, sans-serif;
              font-size: 25px;
              color: #ffffff;
              text-shadow: 0 0 3px #ffffff;
              animation: shine 2s infinite;
              margin-bottom: 10px;
            "
          >
            Undercover
          </span>
          <a
            href="/login"
            style="
              font-family: sans-serif;
              color: #555;
              font-weight: bold;
              padding-left: 770px;
            "
            >Home</a
          >
        </div>
        <div>
          <span style="color: #555; padding-left: 50px"
            >© 2024 Undercover. All rights reserved</span
          >
          <a
            href="/register"
            style="
              font-family: sans-serif;
              color: #555;
              font-weight: bold;
              padding-left: 655px;
            "
            >Create an account</a
          >
        </div>
        <div style="padding-top: 10px">
          <a
            href="/aboutUs"
            style="
              font-family: sans-serif;
              color: #555;
              font-weight: bold;
              padding-left: 950px;
            "
            >About us</a
          >
        </div>
      </main>
    </footer>
  </body>
</html>

